APP_PROFILE=cloud
NODE_ENV=development

API_PORT=3000
WEB_PORT=5173
WEB_ORIGINS=http://localhost:5173,https://replace.pages.dev
VITE_API_URL=https://replace.onrender.com
VITE_APP_PROFILE=cloud

AUTH_PROVIDER=supabase
VITE_SUPABASE_URL=https://zainvvtkjvhoasiwdcnd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphaW52dnRranZob2FzaXdkY25kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNjM1NzIsImV4cCI6MjEwMDgzOTU3Mn0.tSHGvaf_YzeR36vtZRP0cS43EfuRxwTo000bqF-PAPA

SUPABASE_URL=https://zainvvtkjvhoasiwdcnd.supabase.co
SUPABASE_PROJECT_REF=zainvvtkjvhoasiwdcnd
SUPABASE_JWT_ISSUER=https://zainvvtkjvhoasiwdcnd.supabase.co/auth/v1
SUPABASE_JWKS_URL=https://zainvvtkjvhoasiwdcnd.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_JWT_AUDIENCE=authenticated

DATABASE_URL=postgresql://postgres.zainvvtkjvhoasiwdcnd:ehcqwXTyIFZ0CAsf@aws-0-eu-west-1.pooler.supabase.com:6543/postgres
DIRECT_DATABASE_URL=postgresql://postgres:ehcqwXTyIFZ0CAsf@db.zainvvtkjvhoasiwdcnd.supabase.co:5432/postgres

STORAGE_PROVIDER=supabase-s3
SUPABASE_STORAGE_BUCKET=pamagochi-assets
SUPABASE_S3_ENDPOINT=https://zainvvtkjvhoasiwdcnd.storage.supabase.co/storage/v1/s3
SUPABASE_S3_REGION=eu-west-1
SUPABASE_S3_ACCESS_KEY=4c602da586baf8f1056c8f76aa9fef6d
SUPABASE_S3_SECRET_KEY=c622796a1433efe0ca6978558cfdd27a1983d6ae4c67096564bd78f6ccb76764

JOB_PROVIDER=inline
